@use "../variables";
@use "../mixins";

.breadcrumbs {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;

    a:hover {
        color: variables.$accent-color;
    }

    @include mixins.media-down(sm) {
        font-size: 1.2rem;
    }
}