@use "../mixins";
@use "../variables";

/**
 * Стили кнопок
 */
.btn {
    &-main {
        display: block;
        text-align: center;
        font-family: variables.$font-family-primary;
        font-size: variables.$font-size-base;
        font-weight: variables.$font-weight-semibold;
        line-height: variables.$line-height-base;
        color: variables.$text-color;
        background-color: variables.$white-color;
        padding: 10px;
        transition: variables.$transition-base;
        border-radius: variables.$border-radius-xs;
        background-color: variables.$primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 210px;

        img {
            width: 24px;
            height: 24px;
        }


        @include mixins.hover {
            background-color: #819C19;
        }

        // &:disabled {
        //     background-color: #FBF4FF;
        //     color: #CBD5E1;
        //     cursor: not-allowed;
        //     box-shadow: none;

        //     &:hover,
        //     &:active,
        //     &:focus {
        //         background-color: #FBF4FF;
        //         color: #CBD5E1;
        //     }
        // }
    }

    &-black {
        color: variables.$text-white;
        background-color: variables.$black-color;
        padding: 20px 40px;

    }

    &-icon {
        display: block;
        width: 34px;
        height: 34px;
        background-color: variables.$accent-color;
        border-radius: variables.$border-radius-xs;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;

        img,
        svg {
            width: 20px;
            height: 20px;

        }

        &:hover {
            background-color: #960C63;
        }
    }
}

@include mixins.media-down(sm) {
    // .btn {
    //     &-main {
    //         font-size: variables.$font-size-sm;
    //         padding: variables.$spacing-md variables.$spacing-md;

    //     }
    // }
}