@use '../variables';
@use '../mixins';


label {
    display: flex;
    align-items: start;
    gap: 10px;
    cursor: pointer;
}

.checkbox-input {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;   
    flex-shrink: 0;
}

@include mixins.media-down(sm) {
    .checkbox-input {
        width: 16px;
        height: 16px;
        margin-top: 2px;
    }
}

.checkbox-input:checked {
    background-color: variables.$accent-color;
    border-color: variables.$accent-color;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.checkbox-input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.checkbox-input:disabled + span {
    opacity: 0.5;
    cursor: not-allowed;
}