@use "../variables";
@use "../mixins";

.catalog__filters {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__close {
        display: none;
    }

    &__open {
        display: none;
    }

    @include mixins.media-down(md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        &__close {
            display: block;
            cursor: pointer;
            margin-bottom: 20px;
            margin-left: auto;
            height: 30px;
            width: 30px;

            span {
                width: 30px;
                height: 4px;
                background-color: variables.$accent-color;
                display: block;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:first-child {
                    transform: translateY(4.5px) rotate(45deg);

                }

                &:last-child {
                    transform: translateY(-4.5px) rotate(-45deg);
                }
            }
        }

        &__open {
            display: block;
            cursor: pointer;
            background-color: #fff;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            font-size: 16px;
            font-weight: variables.$font-weight-medium;
            color: variables.$text-color;
            font-family: variables.$font-family-primary;
            gap: 10px;
            width: 100%;

            @include mixins.media-down(sm) {
                padding: .8rem;
                font-size: 1rem;
            }

            &::after {
                content: '';
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_76_4379)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.88672 0.69034C9.62875 0.733465 9.21472 0.897434 8.94944 1.06153C8.47756 1.35343 8.14156 1.721 7.89884 2.21081L7.77103 2.46875H4.04072H0.310438L0.155219 2.5474L0 2.62606V3.41737V4.20872L0.0859375 4.24934C0.238813 4.32162 0.964844 4.34006 3.73438 4.342C5.22969 4.34303 6.75566 4.35303 7.12541 4.36422L7.79772 4.3845L7.87475 4.55943C8.06981 5.00225 8.55231 5.54356 8.97134 5.78965C9.93522 6.35578 11.0957 6.29918 12.0156 5.64125C12.3856 5.37662 12.7875 4.88172 12.9328 4.51172L12.9927 4.35937L14.3881 4.35125L15.7836 4.34309L15.9074 4.26115L16.0312 4.17918V3.38125C16.0312 2.9424 16.0232 2.59143 16.0132 2.60134C16.0033 2.61125 15.9295 2.589 15.8492 2.55187C15.7077 2.4865 15.6603 2.48406 14.3416 2.47478L12.98 2.46518L12.9391 2.34978C12.7654 1.85993 12.2457 1.28422 11.7105 0.988747C11.1941 0.703622 10.4932 0.588934 9.88672 0.69034ZM10.1304 2.57575C9.47488 2.78943 9.29778 3.63028 9.81506 4.07306C10.1593 4.36772 10.6844 4.34987 11.0015 4.03275C11.3268 3.7074 11.3394 3.18387 11.0304 2.83187C10.8184 2.59043 10.427 2.47906 10.1304 2.57575ZM0.013625 3.42187C0.013625 3.86875 0.0180313 4.04722 0.023375 3.81847C0.0287188 3.58972 0.0286875 3.22409 0.0233437 3.00597C0.0179687 2.78784 0.0135938 2.975 0.013625 3.42187ZM5.26562 5.41059C4.33416 5.52853 3.45931 6.1819 3.07778 7.04465L3.00366 7.21228L1.63462 7.22531C0.406094 7.237 0.252 7.24409 0.132812 7.29443L0 7.35053V8.15625V8.96197L0.132812 9.01809C0.251875 9.06843 0.407969 9.07575 1.64062 9.08869L3.01562 9.10309L3.16219 9.40312C3.48056 10.0548 4.05681 10.5468 4.79731 10.7993C5.00622 10.8706 5.11625 10.8868 5.47269 10.8992C6.33303 10.9291 6.88628 10.7277 7.46281 10.1749C7.79694 9.85447 7.97291 9.62603 8.11331 9.33037L8.22447 9.09634L11.995 9.08722L15.7656 9.07812L15.8984 9.00718L16.0312 8.93622V8.12253C16.0312 7.65246 16.0195 7.31609 16.0033 7.32606C15.988 7.33556 15.9212 7.31881 15.8549 7.28884C15.7431 7.23831 15.4631 7.23325 11.9773 7.21875L8.22034 7.20312L8.09909 6.95312C7.82178 6.38122 7.37328 5.94128 6.779 5.65828C6.47947 5.51565 6.25513 5.45184 5.89381 5.40653C5.61225 5.37125 5.57463 5.37147 5.26562 5.41059ZM5.39062 7.30872C5.13756 7.37509 4.93656 7.55125 4.81769 7.81087C4.67084 8.13165 4.73834 8.49581 4.99372 8.76047C5.18066 8.95418 5.29997 9.00003 5.61594 8.99972C5.86319 8.99943 5.90681 8.99012 6.05272 8.90644C6.33559 8.74422 6.47684 8.49284 6.47753 8.15034C6.47847 7.6804 6.15728 7.33634 5.68337 7.29956C5.57394 7.29106 5.44219 7.29518 5.39062 7.30872ZM0.0136563 8.15625C0.0136563 8.61172 0.0180312 8.79806 0.0233437 8.57031C0.0286875 8.34256 0.0286875 7.9699 0.0233437 7.74218C0.0180312 7.51447 0.0136563 7.70078 0.0136563 8.15625ZM9.95813 10.4681C9.71584 10.5122 9.37663 10.6233 9.17297 10.7254C8.62106 11.0019 8.11197 11.5284 7.87303 12.0698L7.79772 12.2405L7.12541 12.2608C6.75566 12.272 5.22969 12.2819 3.73438 12.2829C1.00359 12.2847 0.194562 12.3043 0.0681875 12.372C0.000843748 12.408 0 12.4183 0 13.206V14.0035L0.148438 14.0721L0.296875 14.1406L4.03662 14.1495L7.77637 14.1584L7.873 14.3649C8.01528 14.6689 8.20697 14.9202 8.53816 15.2368C9.15234 15.824 9.86422 16.0464 10.791 15.9406C11.4605 15.8641 12.1387 15.4672 12.5729 14.8978C12.739 14.68 12.9683 14.274 12.9686 14.1971C12.9687 14.169 13.3037 14.1575 14.3359 14.1502L15.7031 14.1406L15.8594 14.0625L16.0156 13.9844L16.024 13.1929C16.0323 12.4038 16.0321 12.4013 15.9615 12.3424C15.8943 12.2864 15.8163 12.2833 14.4482 12.2823L13.0059 12.2812L12.9119 12.0804C12.558 11.324 11.8597 10.734 11.0764 10.5295C10.797 10.4565 10.2014 10.4238 9.95813 10.4681ZM10.0433 12.4074C9.69684 12.5789 9.51972 12.8557 9.52128 13.2229C9.52341 13.7176 9.89169 14.0787 10.3906 14.0753C10.888 14.072 11.2478 13.7058 11.2493 13.2014C11.2509 12.6957 10.8865 12.3437 10.3616 12.3438C10.2337 12.3438 10.13 12.3645 10.0433 12.4074ZM0.013625 13.2031C0.013625 13.65 0.0180313 13.8285 0.023375 13.5997C0.0287188 13.371 0.0286875 13.0053 0.0233437 12.7872C0.0179687 12.5691 0.0135938 12.7562 0.013625 13.2031Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_76_4379'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
            }
            @include mixins.media-down(sm) {
                &::after {
                    width: 1rem;
                    height: 1rem;
                }
            }

            &.has-active-filters {
                color: variables.$accent-color;
            }
        }
    }

    @include mixins.media-down(sm) {
        grid-template-columns: 1fr;
    }
}

.catalog__filter {

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 18px;
        font-weight: variables.$font-weight-bold;
        color: variables.$text-color;
        margin: 0;

        @include mixins.media-down(sm) {
            font-size: 1.4rem;
        }
    }

    &__reset {
        background: none;
        border: none;
        cursor: pointer;
        padding: 4px;
        border-radius: 50%;
        background-color: #000;
        display: none;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;

        img {
            width: 8px;
            height: 8px;
            object-fit: contain;
        }

        &:hover {
            background-color: #ccc;
        }
    }

    &__fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    &__input {
        width: 100%;
        padding: 9px 10px;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        font-size: 14px;
        color: variables.$text-color;
        background-color: #fff;
        transition: border-color 0.2s ease;
        cursor: text;
        @include mixins.media-down(sm) {
            font-size: 1.2rem;
        }

        &::placeholder {
            color: #9B9CA0;
            font-size: 14px;
            @include mixins.media-down(sm) {
                font-size: 1.2rem;
            }
        }

        &:focus {
            outline: none;
            border-color: variables.$accent-color;
        }

        &:hover {
            border-color: #ccc;
        }

        &[type="number"] {
            appearance: textfield;
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                appearance: none;
                margin: 0;
            }
        }
    }

    &__checkboxes {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        padding: 4px 0;

        &--hidden {
            display: none;
        }

        &__input {
            display: none;
        }

        &__custom {
            width: 18px;
            height: 18px;
            border: 1px solid #D9D9D9;
            border-radius: 5px;
            background-color: #fff;
            position: relative;
            flex-shrink: 0;
            transition: all 0.2s ease;
            @include mixins.media-down(sm) {
                width: 1.4rem;
                height: 1.4rem;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 8px;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0028 0.0723432C11.8447 0.141062 11.3172 0.613837 8.33494 3.35959L4.85182 6.56659L3.50016 5.32687C1.95202 3.90693 1.99436 3.93603 1.51222 3.96044C1.14428 3.97905 1.01851 4.04508 0.560712 4.4599C0.0788454 4.89658 -0.000458422 5.03062 0.000213075 5.4074C0.00101887 5.85045 -0.0814745 5.75876 2.26104 7.92108C3.39947 8.97194 4.39006 9.86958 4.46235 9.91585C4.57751 9.98961 4.62562 10 4.85131 10C5.07717 10 5.12505 9.98964 5.24028 9.91572C5.31256 9.8694 7.27021 8.08107 9.59057 5.94166C13.0353 2.76565 13.8269 2.02066 13.9045 1.88177C13.9867 1.73462 13.9996 1.6762 14 1.44879C14.0007 1.07201 13.9214 0.937979 13.4395 0.501295C12.9738 0.0792708 12.8568 0.0190567 12.4728 0.00359339C12.2204 -0.00655054 12.1661 0.00136665 12.0028 0.0723432Z' fill='white'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0;
                transition: opacity 0.2s ease;
            }
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            color: #000;
            flex-grow: 1;
            @include mixins.media-down(sm) {
                font-size: 1.2rem;
            }
        }

        &__count {
            font-size: 14px;
            font-weight: 400;
            color: #BFBDBD;
            flex-shrink: 0;
            @include mixins.media-down(sm) {
                font-size: 1.2rem;
            }
        }

        &__input:checked+&__custom {
            background-color: variables.$accent-color;
            border-color: variables.$accent-color;

            &::after {
                opacity: 1;
            }
        }

        &:hover &__custom {
            border-color: variables.$accent-color;
        }
    }

    &__show-more {
        background: none;
        border: none;
        padding: 0;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 500;
        color: variables.$accent-color;
        cursor: pointer;
        text-align: left;
        transition: color 0.2s ease;
        font-weight: variables.$font-weight-regular;
        font-family: variables.$font-family-primary;
        @include mixins.media-down(sm) {
            font-size: 1.2rem;
        }

        &:hover {
            color: variables.$accent-color-hover;
        }
    }
}