@use "../mixins";
@use "../variables";

/**
 * Стили форм
 */
.form-item {
    width: 100%;
}
.form-input {
    width: 100%;
    padding: 18px 22px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: variables.$font-family-primary;
    cursor: text;
    

    &::placeholder {
        opacity: 0.5;
    }
}

.error-message {
    font-size: 12px;
    margin-top: 5px;
    color: variables.$error-color;
    font-weight: 400;
    font-family: variables.$font-family-primary;
    display: none; // Скрываем по умолчанию
}

.error-input {
    border-color: variables.$error-color;
}