@use "../variables";
@use "../mixins";

/**
 * Стили модальных окон
 */



.modal {
    position: fixed;
    z-index: 1010;
    inset: 0;
    bottom: initial;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
    overflow-y: scroll;

    &--active {
        opacity: 1;
        visibility: visible
    }

    &__inner {
        position: relative;
        max-width: 100%;
        width: fit-content;

        @include mixins.media-down(sm) {
            width: calc(100% - 40px);
        }
    }

    &__content {
        padding: 54px 56px;
        background-color: #fff;
        width: 100%;
        border-radius: 20px;
        width: 455px;

        @include mixins.media-down(sm) {
            padding: 38px 17px;
            width: 100%;
        }
    }

    &__content::-webkit-scrollbar {
        width: 0;
        height: 0
    }

    &__close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -40px;
        right: 0;
        cursor: pointer;
        transition: variables.$transition-base;
        filter: brightness(0) invert(1);

        @include mixins.hover {
            opacity: 0.7;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include mixins.media-down(sm) {
            width: 20px;
            height: 20px;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        color: #000;
        margin-bottom: 32px;
        text-align: center;

        @include mixins.media-down(sm) {
            font-size: 26px;
            margin-bottom: 15px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        &__btn {
            margin-top: 5px;
        }

        &__text {
            font-size: 14px;
            color: #000;
            font-weight: 400;

            &__link {
                color: #000;
                font-weight: 400;
                text-decoration: underline;
                font-size: 14px;
                text-underline-offset: 2px;
                font-family: variables.$font-family-primary;
            }
        }
    }
}