@use "../variables";
@use "../mixins";


.swiper {

    &-button-prev,
    &-button-next {
        position: absolute;
        top: 50%;
        // transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: variables.$black-color;
        border-radius: 50%;
        color: variables.$white-color;
        transition: variables.$transition-base;

        .swiper-navigation-icon {
            display: none;
        }

        &::after {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background-image: url('../img/svg/arrow-right.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: brightness(0) invert(1);
        }

        @include mixins.hover {
            background-color: variables.$accent-color;
        }
    }

    &-button-prev {
        left: -20px;

        &::after {
            transform: rotate(180deg);
        }
    }

    &-button-next {
        right: -20px;
    }

    @include mixins.media-down(xl) {
        &-button-prev {
            left: 5px;
        }

        &-button-next {
            right: 5px;
        }
    }

    @include mixins.media-down(sm) {

        &-button-prev,
        &-button-next {
            width: 3rem;
            height: 3rem;


            &::after {
                width: 1rem;
                height: 1rem;
            }

        }
    }

}

.relative-container:has(.section__title) {

    .swiper-button-prev,
    .swiper-button-next {
        top: calc(50% + 50px);
    }
}

@include mixins.media-down(lg) {
    .swiper {
        overflow: visible;
    }
}