.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0)
}

.relative-container {
    position: relative;
}

.star-inactive {
    filter: brightness(0) saturate(100%) invert(56%) sepia(2%) saturate(13%) hue-rotate(315deg) brightness(99%) contrast(95%);
}

.mb-60 {
    margin-bottom: 60px;
}