@use '../mixins';
@use '../variables';

.lk {
    &__nav {
        margin-top: 30px;

        @include mixins.media-down(sm) {
            margin-top: 10px;

        }

        &__list {
            display: flex;
            gap: 10px;
            margin-bottom: 40px;

            @include mixins.media-down(md) {
                margin-bottom: 50px;
            }

            @include mixins.media-down(sm) {
                margin-bottom: 20px;
                overflow-x: auto;
                padding-bottom: 10px;

                &::-webkit-scrollbar {
                    width: 100%;
                    height: 2px;
                    background-color: transparent;
                    border-radius: 2px;

                }

                &::-webkit-scrollbar-thumb {
                    background-color: variables.$accent-color;
                    border-radius: 2px;
                }
            }
        }

        &__link {
            padding: 10px 15px;
            background-color: #fff;
            border-radius: 5px;
            font-size: 18px;
            font-weight: variables.$font-weight-regular;
            border: 1px solid white;
            transition: variables.$transition-base;
            display: block;
            text-wrap: nowrap;

            @include mixins.media-down(md) {
                padding: 8px 10px;
                font-size: 16px;
            }

            @include mixins.media-down(sm) {
                padding: 6px 10px;
                font-size: 14px;
            }

            &.active {
                background-color: variables.$accent-color;
                color: variables.$text-white;
                border: 1px solid variables.$accent-color;
            }

            &:hover {
                border: 1px solid variables.$accent-color;
            }
        }
    }

    &__title {
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 1.1;

        @include mixins.media-down(md) {
            font-size: 36px;
            margin-bottom: 10px;
        }

        @include mixins.media-down(sm) {
            margin-bottom: 10px;
            font-size: 24px;
        }
    }

    &__favorites__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        @include mixins.media-down(lg) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include mixins.media-down(md) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }

    &__bonus {
        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        &__item {
            border-radius: 5px;
            overflow: hidden;


            &__inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 30px 20px;
                background-color: #fff;
            }

            &__img {
                width: 60px;
                height: 60px;
                margin-bottom: 22px;
            }

            &__title {
                font-size: 24px;
                font-weight: 500;
                text-align: center;
                margin-bottom: 12px;
            }

            &__text {
                text-align: center;
                font-size: 14px;
                font-weight: 500;
            }

            &__count {
                height: 100%;
                display: flex;
                flex-direction: column;
            }
        }

        &__count {

            &__logo {
                background-color: #fff;
                padding: 13px 31px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 213px;
                    height: 46px;
                    object-fit: contain;
                }
            }

            &__value {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                background-color: variables.$accent-color;
                gap: 10px;
                color: #fff;
                padding: 30px 20px;
                flex-grow: 1;

                &__text {
                    font-size: 24px;
                    font-weight: variables.$font-weight-regular;
                }

                &__number {
                    font-size: 30px;
                    font-weight: variables.$font-weight-bold;
                }
            }
        }
    }

    &__orders {
        &__empty {
            &__text {
                font-size: 16px;
                margin-bottom: 35px;
                text-wrap: balance;

                @include mixins.media-down(sm) {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
            }

            @include mixins.media-down(sm) {
                .banner__block__left__btn__link {
                    width: fit-content;
                    gap: 20px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__item {
            background-color: #fff;
            border-radius: 5px;

            &__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                padding: 20px;
                border-bottom: 1px solid #E3E3E3;

                &__left {
                    &__title {
                        font-size: 24px;
                        font-weight: variables.$font-weight-medium;
                        line-height: 1.1;
                    }
                }

                &__right {
                    &__total {
                        font-size: 24px;
                        font-weight: variables.$font-weight-medium;
                        line-height: 1.1;
                    }
                }

                @include mixins.media-down(sm) {
                    align-items: start;
                    flex-direction: column;
                    gap: 5px;

                    &__left {
                        &__title {
                            font-size: 14px;
                        }
                    }

                    &__right {
                        &__total {
                            font-size: 14px;
                        }
                    }
                }
            }

            &__content {
                padding: 20px;
                display: flex;
                align-items: start;
                gap: 30px;
                justify-content: space-between;

                @include mixins.media-down(md) {
                    flex-direction: column-reverse;
                    gap: 20px;
                }

                &__left {
                    &__delivery {
                        font-size: 20px;
                        font-weight: variables.$font-weight-regular;
                        margin-bottom: 20px;
                        line-height: 1.1;

                        @include mixins.media-down(sm) {
                            font-size: 16px;
                            margin-bottom: 15px;
                        }
                    }

                    &__status {
                        font-size: 20px;
                        font-weight: variables.$font-weight-regular;
                        margin-bottom: 20px;
                        line-height: 1.1;

                        span {
                            padding: 5px 10px;
                            background-color: #F4F4F4;
                            border-radius: 5px;

                        }

                        @include mixins.media-down(sm) {
                            font-size: 16px;
                            margin-bottom: 15px;

                            span {
                                font-size: 14px;
                                padding: 4px 7px;
                            }
                        }
                    }

                    &__btns {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        @include mixins.media-down(sm) {
                            flex-direction: column;
                            align-items: start;
                            gap: 15px;
                        }

                        &__btn {
                            width: auto;
                            padding: 13px 15px;
                            font-size: 16px;
                            font-weight: variables.$font-weight-semibold;
                            line-height: 1.1;
                        }

                        &__link {
                            font-size: 16px;
                            font-weight: variables.$font-weight-semibold;
                            line-height: 1.1;
                            color: variables.$primary-color;
                            text-decoration: underline;
                            transition: variables.$transition-base;

                            &:hover {
                                color: variables.$primary-color-hover;
                            }

                        }
                    }
                }

                &__right {
                    &__list {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        @include mixins.media-down(sm) {
                            flex-wrap: wrap;
                        }

                        &__item {
                            &__img {
                                width: 100px;
                                height: 100px;
                                border-radius: 5px;
                                overflow: hidden;
                                border: 1px solid #E3E3E3;
                                display: block;
                                @include mixins.media-down(sm) {
                                    width: 75px;
                                    height: 75px;
                                }


                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }


                }
            }
        }
    }
}