@use "../variables";
@use "../mixins";

.product {
    background-color: #fff;
    padding: 30px 40px 40px;
    border-radius: 0 0 5px 5px;

    &__title {
        text-wrap: balance;

        span, a {
            color: variables.$accent-color;
        }

        a {
            &:hover {
                color: variables.$accent-color-hover;
            }
        }
    }

    &__inner {
        display: flex;
        gap: 40px;
        margin-top: 30px;

        &__left {
            flex: 0 0 auto;
        }

        &__right {
            &__header {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 15px;

            }

            &__reviews {
                display: flex;
                align-items: center;
                gap: 5px;

                &__star {
                    width: 19px;
                    height: 19px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: block;
                    }
                }

                &__raiting {
                    font-size: 16px;
                    font-weight: 400;
                    color: #000;
                }

                &__text {
                    font-size: 16px;
                    color: #838383;
                }
            }

            &__fav {

                button,
                a {
                    font-family: variables.$font-family-primary;
                    font-size: 16px;
                    font-weight: 400;
                    color: #838383;
                    background-color: transparent;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &:hover {
                        color: variables.$accent-color;

                        img {
                            filter: none;
                        }
                    }

                    img {
                        transition: variables.$transition-base;
                        width: 17px;
                        height: 17px;
                        display: block;
                        flex-shrink: 0;
                        filter: brightness(0) saturate(100%) invert(56%) sepia(2%) saturate(13%) hue-rotate(315deg) brightness(99%) contrast(95%);
                    }
                }
            }

            &__sku {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 30px;

                span {
                    color: #838383;
                }
            }

            &__variables {
                margin-bottom: 25px;

                &__block {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &__label {
                    font-weight: variables.$font-weight-regular;
                    color: #838383;
                    font-size: 16px;
                    margin-bottom: 12px;
                }

                &__options {
                    display: flex;
                    gap: 12px;
                    flex-wrap: wrap;
                }

                &__option {
                    position: relative;
                    cursor: pointer;
                    flex-grow: 1;

                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                        pointer-events: none;
                    }

                    &__content {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        padding: 10px;
                        border: 2px solid #838383;
                        border-radius: variables.$border-radius-xs;
                        background: transparent;
                        transition: variables.$transition-base;
                        min-width: 80px;
                        position: relative;
                        overflow: hidden;
                        width: 100%;

                        &:hover {
                            border-color: variables.$accent-color-hover;
                        }
                    }

                    input[type="radio"]:checked+&__content {
                        border-color: variables.$accent-color;
                    }

                    &__value {
                        font-weight: variables.$font-weight-regular;
                        color: #000000;
                        margin-bottom: 2px;
                    }

                    &__price {
                        font-size: 16px;
                        color: #838383;
                        font-weight: variables.$font-weight-regular;
                    }

                    &__tag {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: variables.$accent-color;
                        color: variables.$white-color;
                        font-size: 10px;
                        font-weight: variables.$font-weight-regular;
                        padding: 2px;
                        line-height: 1;
                    }
                }
            }

            &__price {
                font-size: 30px;
                font-weight: 700;
                color: #000;
                margin-bottom: 25px;
            }

            &__btn {
                width: 100%;
                margin-bottom: 20px;
                justify-content: space-between;
                font-size: 18px;
                font-weight: 700;
                display: flex;
                align-items: center;
                padding: 1.1rem 1.5rem;
                gap: 10px;

                img {
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                    object-fit: cover;
                }
            }

            &__delivery {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 16px;
                font-weight: 400;

                &__item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    &__text {
                        text-align: right;
                    }

                    span {
                        color: variables.$accent-color;
                    }
                }
            }
        }
    }
}

.product-gallery {
    display: flex;
    gap: 20px;
    width: 600px;

    &__thumbnails {
        flex: 0 0 80px;
        height: 320px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .swiper {
            height: 280px;
            flex: 1;
        }

        .swiper-slide {
            width: 58px;
            height: 58px;
            flex-shrink: 0;
            border: 2px solid transparent;
            border-radius: variables.$border-radius-xs;
            overflow: hidden;
            cursor: pointer;
            transition: variables.$transition-base;

            &:hover {
                border-color: variables.$accent-color-hover;
            }

            &.swiper-slide-thumb-active {
                border-color: variables.$accent-color;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 24px;
            height: 24px;
            background: transparent;
            color: #D9D9D9;
            transition: variables.$transition-base;
            margin: 0 auto;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            position: static;
            transform: none;

            &::after {
                color: #D9D9D9;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.707 7.29302C22.5195 7.10555 22.2652 7.00023 22 7.00023C21.7348 7.00023 21.4805 7.10555 21.293 7.29302L12 16.586L2.707 7.29302C2.61475 7.19751 2.50441 7.12133 2.3824 7.06892C2.2604 7.01651 2.12918 6.98892 1.9964 6.98777C1.86362 6.98662 1.73194 7.01192 1.60905 7.0622C1.48615 7.11248 1.3745 7.18673 1.28061 7.28062C1.18671 7.37452 1.11246 7.48617 1.06218 7.60907C1.0119 7.73196 0.986595 7.86364 0.987749 7.99642C0.988903 8.1292 1.01649 8.26042 1.0689 8.38242C1.12131 8.50443 1.19749 8.61477 1.293 8.70702L11.293 18.707C11.4805 18.8945 11.7348 18.9998 12 18.9998C12.2652 18.9998 12.5195 18.8945 12.707 18.707L22.707 8.70702C22.8945 8.51949 22.9998 8.26518 22.9998 8.00002C22.9998 7.73486 22.8945 7.48055 22.707 7.29302Z' fill='%23D9D9D9'/%3E%3C/svg%3E");
                filter: invert(1) ;
            }


            &:hover {
                background: variables.$primary-color;
                color: variables.$white-color;
                border-color: variables.$primary-color;
            }

            &.swiper-button-disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }
        }

    }

    &__main {
        flex: 1;

        .swiper {
            width: 520px;
            height: 520px;
            border-radius: variables.$border-radius;
            overflow: hidden;
            // border: 1px solid variables.$border-white;
        }

        .swiper-slide {
            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
}

.product__about {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }

    &__left {
        font-size: 18px;
        line-height: 1.3;
        font-weight: 400;

        p:not(:last-child) {
            margin-bottom: 30px;
        }

        h3 {
            margin-bottom: 15px;
            font-size: 24px;
            line-height: 1.3;
            font-weight: 700;
        }

        ul {
            padding-left: 20px;
            list-style: none;

            li {
                margin-bottom: 15px;
            }
        }
    }

    &__title {
        margin-bottom: 15px;
    }

    &__right {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        &__item {
            &__name {
                font-size: 18px;
                line-height: 1.3;
                font-weight: 400;
                color: #838383;
                margin-bottom: 3px;
            }

            &__value {
                font-size: 18px;
                line-height: 1.3;
                font-weight: 400;
                color: #000;

                a {
                    color: variables.$accent-color;

                    &:hover {
                        color: variables.$accent-color-hover;
                    }
                }
            }
        }


    }
}

@include mixins.media-down(xl) {
    .product-gallery__main .swiper {
        max-width: 400px;
        width: 100%;
        height: 100%;
        max-height: 400px;
    }

    .product-gallery {
        flex-direction: column-reverse;
        max-width: 400px;
    }

    .product-gallery__thumbnails {
        flex-direction: row;
    }

    .product-gallery__thumbnails .swiper {
        height: auto;
        max-width: 100%;
        overflow: hidden !important;
    }

    .product-gallery__thumbnails .swiper-slide {
        height: 70px;
    }

    .product-gallery__thumbnails .swiper-button-next {
        transform: rotate(-90deg);
    }
    .product-gallery__thumbnails .swiper-button-prev {
        transform: rotate(-90deg);
    }
}

@include mixins.media-down(lg) {
    .product {
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        &__inner {
            flex-direction: column;
        }

        &-gallery {
            max-width: 100%;
            width: 100%;

            &__main {
                .swiper {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    .product__inner__right__variables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .product__about__inner {
        grid-template-columns: 1fr;
    }
}
@include mixins.media-down(md) {
    .product {
        padding-top: 100px;
    }
}
@include mixins.media-down(sm) {
    .product__inner__right__variables {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .product__title {
        font-size: 17px;
        margin-bottom: 19px;
    }
    .product-gallery__thumbnails .swiper, .product-gallery__thumbnails .swiper-slide {
        height: 58px;
    }
    .product__about__left {
        font-size: 14px;
    }
    .product__about__left ul {
        padding-left: 0;
    }
    .product__about__inner {
        gap: 20px;
    }
    .product__about__right__item__name, .product__about__right__item__value {
        font-size: 14px;
    }
}