@use "../mixins";
@use "../variables";

/**
 * Стили подвала сайта
 */
.footer {
    background-color: #fff;
    padding: 60px 0;

    @include mixins.media-down(sm) {
        padding: 2rem 0;
    }

    &__inner {
        display: flex;
        align-items: start;
        gap: 20px;
        justify-content: space-between;

        @include mixins.media-down(xl) {
            gap: 10px;
        }

        @include mixins.media-down(md) {
            flex-direction: column;
            align-items: stretch;
            gap: 30px;
        }

        @include mixins.media-down(sm) {
            gap: .5rem;
        }
    }

    &__column {
        max-width: 25%;

        @include mixins.media-down(md) {
            max-width: 100%;

            &:has(.footer__contacts) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
                margin-top: 10px;
            }
        }

        @include mixins.media-down(sm) {

            &:has(.footer__contacts) {
                grid-template-columns: 1fr;
                gap: 2.5rem;
                margin-top: 2rem;
            }
        }

        &__title {
            font-size: 32px;
            margin-bottom: 20px;
            font-weight: variables.$font-weight-bold;

            @include mixins.media-down(xl) {
                font-size: 24px;
                margin-bottom: 10px;
            }

            &--accordion {
                @include mixins.media-down(md) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    user-select: none;
                    transition: variables.$transition-base;
                    font-weight: 500;
                    font-size: 20px;

                    @media (hover: hover) {
                        &:hover {
                            color: variables.$primary-color;
                        }
                    }

                    &.active {
                        .footer__column__title__arrow {
                            transform: rotate(180deg);
                        }
                    }
                }

                @include mixins.media-down(sm) {
                    font-size: 1.6rem;
                    margin-bottom: 0;
                    padding: 1.2rem 0;
                }


            }

            &__arrow {
                @include mixins.media-down(md) {
                    width: 16px;
                    height: 16px;
                    transition: transform 0.3s ease;
                    flex-shrink: 0;
                }

                @include mixins.media-up(md) {
                    display: none;
                }
            }
        }

        &__list {
            @include mixins.media-down(md) {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease;

                &.active {
                    max-height: 500px; // Достаточно большое значение для показа всех элементов
                }
            }
        }

        &__item {
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            a:hover {
                color: variables.$primary-color;
            }

            @include mixins.media-down(xl) {
                font-size: 14px;
            }
        }
    }

    &__contacts {
        margin-bottom: 36px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;

        @include mixins.media-down(md) {
            margin-bottom: 0;
        }
    }

    &__tel {
        color: variables.$accent-color;
        font-size: 32px;
        font-weight: variables.$font-weight-semibold;
        line-height: 1;

        &:hover {
            color: variables.$accent-color-hover;
        }

        @include mixins.media-down(xl) {
            font-size: 20px;
        }

        @include mixins.media-down(md) {
            font-size: 32px;
        }

        @include mixins.media-down(sm) {
            font-size: 2.4rem;
        }
    }

    &__email {
        font-size: 16px;
        font-weight: 400;
        line-height: 1;

        &:hover {
            color: variables.$accent-color-hover;
        }
    }

    &__socials {
        margin-bottom: 36px;

        @include mixins.media-down(md) {
            margin-bottom: 0;
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 20px;


        }

        &__item {
            a {
                img {
                    width: 30px;
                    height: 30px;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__docs {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include mixins.media-down(sm) {
            gap: 1rem;
        }

        &__item {
            font-size: 16px;
            line-height: 1;
            font-weight: 400;
            color: #979797;

            &:hover {
                color: variables.$primary-color;
            }
        }
    }
}