@use "../mixins";
@use "../variables";

/**
 * Стили подвала сайта
 */
.footer {
    background-color: #fff;
    padding: 60px 0;

    &__inner {
        display: flex;
        align-items: start;
        gap: 20px;
        justify-content: space-between;
    }

    &__column {
        max-width: 25%;

        &__title {
            font-size: 32px;
            margin-bottom: 20px;
            font-weight: variables.$font-weight-bold;

        }

        &__item {
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            a:hover {
                color: variables.$primary-color;
            }
        }
    }

    &__contacts {
        margin-bottom: 36px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    &__tel {
        color: variables.$accent-color;
        font-size: 32px;
        font-weight: variables.$font-weight-semibold;
        line-height: 1;

        &:hover {
            color: variables.$accent-color-hover;
        }
    }

    &__email {
        font-size: 16px;
        font-weight: 400;
        line-height: 1;

        &:hover {
            color: variables.$accent-color-hover;
        }
    }

    &__socials {
        margin-bottom: 36px;

        &__list {
            display: flex;
            align-items: center;
            gap: 20px;


        }

        &__item {
            a {
                img {
                    width: 30px;
                    height: 30px;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__docs {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &__item {
            font-size: 16px;
            line-height: 1;
            font-weight: 400;
            color: #979797;

            &:hover {
                color: variables.$primary-color;
            }
        }
    }
}