@use 'variables';
@use 'mixins';

// Базовые стили
@use 'base/_reset';
@use 'base/_typography';
@use 'base/_utilities';

// Компоненты
@use 'components/_buttons';
@use 'components/_forms';
@use 'components/_headings';
@use 'components/_modal';

// Макеты
@use 'layout/_header';
@use 'layout/_footer';

// Страницы
@use 'pages/_home';

